.home {
    background-image: url(/public/Images/backgroundImageforBrainTriviaGame.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
    color: red;
    text-align: center;
    font-weight: bolder;
    background-color: white;
}
/* // REVIEW: maybe improve the name of the class below */
.brainImage {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}